<div class="header">
  <div class="contactWrapper">
    <div class="image">
      <img src="<%= user.picture %>" />
    </div>
    <div class="contact">
      <div><%= user.first_name %> <%= user.last_name %></div>
      <div>Studying <%= user.master %> @ KTH</div>
      <div><%= user.email %></div>
      <div><%= user.phone %></div>
    </div>
  </div>
  <div class="logo">
    <img src=<%= image_url('stencil-black-rgb.png') %> />
  </div>
</div>
